
.cactiTableTitle .pokus {
        color: white;
        font-weight: bold;
}

.cactiTableButton	{
    padding: 3px 0px;
    height: 20px;
}

.cactiTableButton2 span {
        padding: 0px 12px 22px 3px;
        white-space: nowrap;
        vertical-align: middle;
}


.panel_data     {
    background-color: #202020;
    padding: 4px;
}
