.flexchild {
    background-color: #202020 !important;
}

.panel_data {
    background-color: #202020;
    padding: 4px;
}

#overlay_detail {
    background-color: #202020;
}

#close_detail {
    background-color: #202020;
}
