.txt_big        {
    font-size: 1.5em;
}

.panel_data     {
    background-color: #202020;
    color: white;
    
}

.cactiTableTitle .pokus {
        color: #f7f7f7;
        font-weight: bold;
}

.textArea {
        background-color: #202020;
}
