.flexchild {
	background-color: #202020 !important;
}

.panel_data {
	background-color: #202020;
	color: white;
	padding: 4px;
}

.textArea {
	background-color: #202020;
}

.panel_header {
	color: #bbf;
}

#generated {
	color: white;
}

#megaobal, #obal, #main {
	padding: 3px;
	color: lightgrey !important;
}

.intro_glyph {
	color: lightgrey !important;
	vertical-align: middle;
}
