
.cactiTableTitle .pokus {
        color: #d7d7ff;
              font-weight: bold;

}

.cactiTableButton2 span  {
        padding: 0px 16px 0px 3px;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
}
